<div class="container">

  <!-- List Header: only show when form is hidden -->
  <div  class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">
    <i class="fa-solid fa-id-card me-2"></i>Customer Info <span class="badge text-bg-secondary">Resource API </span>
    </h2>
  </div>

  <!-- Loading -->
  <div *ngIf="!customersResource.value()" class="loading-indicator">
    Loading...
  </div>

  <!-- Loaded -->
  <div *ngIf="customersResource.value()?.length" class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
    <div *ngFor="let customer of customersResource.value(); trackBy: trackByEmail" class="col">
      <app-customer-info-card [customer]="customer"></app-customer-info-card>
    </div>
  </div>

</div>
